<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/add">ADD</a>
    <br>
    <table border="1" cellspacing="10" cellpadding="10">
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>City</th>
        </tr>
        {{#each rows as |item|}}{{!-- "rows" var given by server.js & item var is created by us to use bellow(like for loop we use i in loop) --}}
            <tr>
                <td>{{item.name}}</td>
                <td>{{item.age}}</td>
                <td>{{item.city}}</td>
            </tr>
        {{/each}}
    </table>
</body>
</html>